<div class=".container">
  <div class="jumbotron jumbotron-fluid shadow-lg mx-auto mt-5 w-50">
    <div class="mx-3 mb-5">
      <h1 class="display-4">
        <%= @post.post_title %>
      </h1>
    </div>
    <div class="mx-3 my-5 text-break">
      <h1>
        <%= @post.post_text%>
      </h1>
    </div>
    <div class="float-right mr-5 my-3">
      <h2>
        投稿者 <%= @post.user.user_name %>
      </h2>
    </div>
    <% unless @post.user_id == current_user.id %>
    <div class="d-inline-flex ml-3">
    <% if @post.favorited_by?(current_user) %>
      <h4>
        <%= link_to post_favorites_path(@post), method: :delete do %>
          <p>
            <i class="fa-regular fa-face-grin-squint fa-2x"></i>
          </p>
        <% end %>
      </h4>
      <% else %>
      <h4>
        <%= link_to post_favorites_path(@post), method: :post do %>
          <p>
            <i class="fa-regular fa-face-smile fa-2x"></i>
          </p>
        <% end %>
      </h4>
    <% end %>
    </div>
    <div class="d-inline-flex ml-3">
      <% if @post.bookmarked_by?(current_user) %>
      <h4>
        <%= link_to post_bookmarks_path(@post), method: :delete do %>
          <p>
            <i class="fa-solid fa-book-bookmark fa-2x"></i>
          </p>
        <% end %>
      </h4>
      <% else %>
      <h4>
        <%= link_to post_bookmarks_path(@post), method: :post do %>
          <p>
            <i class="fa-solid fa-book-open fa-2x"></i>
          </p>
        <% end %>
      </h4>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="row">
    <div class="mx-auto">
      <%= link_to "投稿一覧へ戻る", root_path, class: "btn btn-success btn-lg"%>
    </div>
  </div>
</div>
