<!DOCTYPE html>
<html>
  <head>
    <title>LIFEPass</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class=".container">
      <nav class="navbar navbar-expand-md navbar-secondary fixed-top bg-dark">
      <div class="navbar-brand">
        <%= link_to root_path do %>
          <h1 class="text-white">LIFE Pass</h1>
        <% end %>
      </div>
      <% if user_signed_in? %>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto" >
          <div class="nav-link">
            <h4 class="text-white">Hello!! <%= current_user.user_name %> さん</h4>
          </div>
          <div class="nav-link ml-3">
            <%= link_to new_post_path do %>
              <h4 class="text-white">投稿する</h4>
            <% end %>
          </div>
          <div class="nav-link ml-3">
            <%= link_to users_path(current_user.id) do %>
              <h4 class="text-white">マイページ</h4>
            <% end %>
          </div>
          <div class="nav-link ml-3">
            <%= link_to categories_path do %>
              <h4 class="text-white">カテゴリ一覧</h4>
            <% end %>
          </div>
          <div class="nav-link ml-3">
            <%= link_to destroy_user_session_path, method: :delete do %>
              <h4 class="text-white">ログアウト</h4>
            <% end %>
          </div>
          <div class="nav-link ml-5">
            <%= render 'layouts/serach' %>
          </div>
        </ul>
      </div>
      <% elsif admin_signed_in? %>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <div>
            <%= link_to "カテゴリ一覧", admin_categories_path %>
          </div>
          <div>
            <%= link_to "会員一覧", admin_users_path %>
          </div>
          <div>
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
          </div>
        </ul>
      </div>
      <% else %>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <div class="nav-link">
            <%= link_to about_path do %>
              <h4 class="text-white">LIFE Passって？</h4>
            <% end %>
          </div>
          <div class="nav-link">
            <%= link_to new_user_session_path do %>
              <h4 class="text-white">ログイン</h4>
            <% end %>
          </div>
          <div class="nav-link">
            <%= link_to new_user_registration_path do %>
              <h4 class="text-white">サインアップ</h4>
            <% end %>
          </div>
        </ul>
      </div>
      <% end %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>